/* ============= GENERAL ============= */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  font-size: 62.5%;
}

body {
  background-color: #19191b;

  /* background-color: rgb(158, 129, 185); */
  font-family: "Nunito Sans";
}

.wrapper {
  /* border: 1px solid red; */

  width: min(50rem, 100%);
  margin-inline: auto;
  padding-inline: 2.4rem;
}

/* ============= NAVIGATION ============= */
nav {
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 3.4rem;

  display: flex;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 7.5rem;
}

nav .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .logo {
  text-decoration: none;
  color: white;
  padding-top: 4rem;
}

nav button {
  padding-top: 4rem;
  border: none;
  background: none;
  cursor: pointer;
}

/* ============= HEADER ============= */
header {
  margin-top: 15rem;
}

header h1 {
  width: 32.7rem;
  color: white;

  font-family: Verdana, Geneva, Tahoma, sans-serif;

  font-weight: 700;
  font-size: 4.2rem;
  line-height: 6.3rem;
}

header p {
  margin-top: 2.2rem;
  width: 32.7rem;

  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: white;
  opacity: 0.7;
}

header a {
  background-color: #5454d4;
  text-decoration: none;

  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.2rem;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
  gap: 1.5rem;

  padding: 0.8rem 1.5rem;
  width: fit-content;
}

/* ============= MAIN ============= */

.man-yellow {
  margin-top: 7.3rem;
}

main h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    font-size: 3.6rem;
    line-height: 5.4rem;
    color: white;

    margin-top: 10.3rem;

}

main p {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;
    opacity: 0.7;
    color: white;

    margin-top: 3rem;
}

main img {
    margin-top: 5rem;
}

main .svg-triangle {
    margin-top: 6rem;
}

/* ============= SERVICES ============= */
